<!DOCTYPE html>
<html>
	<head>
        {% block title %}<title>Alternative Tweets: Trump Edition</title>{% endblock %}

		<!-- Normalize.css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
        
        <!-- Custom Styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
	</head>
    {% block body %}
	<body>
		<div id="menubar">
			<header class="main">
				<nav>
					<ul class="whitefont">
						<li id="logo"><a class="whitefont" href="">Alternative Tweets</a></li>
                        <li><a class="whitefont" href="{{ url_for('index') }}">Game</a></li>
                        <li><a class="whitefont" href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
					</ul>
				</nav>
			</header>
		</div><!-- menubar -->

        <div id="container">
            <!-- Number of current lives, delete a line of html if wrong answer -->
            <img id="hitPoints" src="" class="lives"/>
            <!-- The player's current score, change id of scoreValue -->
            <h3 id="score">Score: </h3>
            <h3 id="scoreValue"></h3>

            <div id="tweetContainer">
                <button type="button" id="tweetHead"></button>
                <p type="button" id="tweetBody">Insert tweet here</p>
                <button type="button" id="tweetFoot"></button>
        </div>
			<form>
				<button type="button" class="floated whitefont" id="tweet" value="true">Real Tweet</button>
				<button type="button" class="floated" id="tie"></button>
				<button type="button" class="floated whitefont" id="text" value="false">"Alternative" Tweet</button>
			</form>
		</div><!-- container -->
        <form id='submit' action='{{ url_for('leaderboard') }}' method='post'>
            <input type='text' value='Enter your name!' name='username'>
            <input type='hidden' name='score'>
            <input type="submit" value="Submit score">
        </form>
	</body>
    {% endblock %}
</html>
